* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "nyght", serif;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:540px) {
    #root {
        align-items: start;
        margin-top: 55px;
    }
}